!**/glob-import/dir/node_modules
.DS_Store
.idea
.pnpm-store
*.cpuprofile
*.local
*.log
/.vscode/
/docs/.vitepress/cache
/packages/vite/LICENSE
explorations
node_modules
playground-temp
temp
.eslintcache

local

# Local pannel maybe useful later
/public/pannel.png
/public/pannel2.png
/public/pannel3.png
/public/pannel4.png
